body{
margin:0;
font-family: Arial, Helvetica, sans-serif;
background-color:#f4f4f4;
}


.header{

display:flex;

justify-content:space-between;

align-items:center;

padding:20px;

background-color:#9b5576;

color:white;

}


.texto{

font-size:22px;

font-weight:bold;

}


.menu{

display:flex;

gap:20px;

}


.menu-item{

cursor:pointer;

font-size:16px;

}
/* CONTENIDO PRINCIPAL */

.main{

padding:40px;

}

/* CONTENEDOR TARJETAS */

.card-container{

display:flex;

justify-content:space-between;

gap:25px;

}

/* TARJETAS */

.card-item{

background-color:white;

padding:20px;

width:30%;

height:200px;

display:flex;

flex-direction:column;

justify-content:space-between;

border-radius:6px;

box-shadow:0px 3px 8px rgba(0,0,0,0.15);

}


/* TITULO TARJETA */

.card-title{

text-align:center;

margin:0;

font-size:20px;

}


/* CONTENIDO TARJETA */

.card-content{

border-top:2px solid gray;

border-bottom:2px solid gray;

padding:10px;

text-align:center;

}

/* FOOTER TARJETA */

.card-footer{

text-align:center;

font-size:14px;

color:#555;

}